@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');

:root {
    --primary: #F6D167;
    --secondary: #002e53;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}

nav {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 1rem;
    text-align: center;
}



#txt-input {
    padding: 1rem;
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    max-width:130vh;
    max-height: 214px;
    margin-top: 2rem;
    font-size: large;
}

#btn {
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    margin: 1rem 0rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1rem 2rem;
    font-size: large;
}

#txt-output {
    padding: 1rem;
    margin-top: 1rem;
    box-sizing: border-box;
    width: 100%;
    min-height: 15vh;
    max-height: 20vh;
    border: 1px solid var(--secondary);
    margin-bottom: 1rem;
}

footer {
    color: var(--secondary);
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary);
    text-align: center;
}
